.c-container{
    padding-top: 40px;
}
.p-admin{
    width: 1183px;
    margin: 30px auto 0;
    &_search{
        &Block{
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: center;
        }
        &_keyword{
            background-color: #FBFBFB;
            padding: 12px 18px;
            border: 1px solid #E3DED9;
            font-size: 1.6rem;
            width: 347px;
            &::placeholder{
                color: #BEB1A6;
            }
        }
        &_select{
            // width: 150px;
            font-size: 1.6rem;
            padding: 12px 46px 12px 20px;
            border: 1px solid #E3DED9;
            background-color: #FBFBFB;
            color: #8B7969;
            cursor: pointer;
            background-image: url(/img/arrow-under.svg);
            background-position: right 15px center;
            background-repeat: no-repeat;

        }
    }
    &_btns{
        display: flex;
        justify-content: space-between;
        margin-top: 37px;
        align-items: center;
    }
    &_export{
        font-size: 1.8rem;
        color: #8B7969;
        padding: 8px 20px;
        background-color: #E1DBD699;
    }
    &_pagenate{
        display: flex;
        border: 1px solid #E0DFDE;
        border-radius: 5px;
        &_link{
            width: 30px;
            text-align: center;
            padding: 4px 0;
            font-size: 1.8rem;
            color: #8B7969;
            &:not(:first-child){
                border-left: 1px solid #E0DFDE;
            }
            &.--active{
                background-color: #8B7969;
                color: #fff;
            }
        }
    }
    &_lists{
        margin-top: 20px;
        &_table{
            font-size: 2rem;
            width: 100%;
            &_row{
                &.--title{
                    background-color: #8B7969;
                    color: #fff;
                    font-weight: bold;
                }
                &:nth-child(n+2){
                    border-bottom: 1px solid #E0DFDE;
                    border-left: 1px solid #E0DFDE;
                    border-right: 1px solid #E0DFDE;
                }
            }
            &_title{
                padding: 17px 55px;
            }
            &_item{
                padding: 17px 55px;
                color: #8B7969;
                vertical-align: middle;
            }
        }
    }
    &_detailBtn{
        font-size: 1.8rem;
        padding: 8px 20px;
        border: 1px solid #D9C6B599;
        cursor: pointer;
        color: #D9C6B5;
        background-color: #F4F4F44D;
        vertical-align: middle;
        display: inline-block;
    }
    &_modal{
        &_content{
            width: 805px;
            height: 858px;
            border: 1px solid #8B7969;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 143px 63px 77px 99px;
            background-color: #fff;
            overflow-y: scroll;
        }
        &_close{
            font-size: 3rem;
            border: 1px solid #8B7969;
            width: 40px;
            height: 40px;
            border-radius: 50px;
            text-align: center;
            color: #8B7969;
            position: absolute;
            right: 40px;
            top: 31px;
        }
        &_title{
            width: 180px;
            font-size: 2rem;
            font-weight: bold;
            color: #8B7969;
            padding-bottom: 35px;
        }
        &_item{
            width: 413px;
            font-size: 2rem;
            color: #8B7969;
            padding-left: 43px;
            &.--naiyou{
                font-size: 1.8rem;
                line-height: 2.8rem;
            }
        }
        &_btn{
            margin-top: 143px;
            text-align: center;
        }
    }
    &_deleteBtn{
        background-color: #BA370D;
        color: #fff;
        font-size: 1.8rem;
        padding: 8px 20px;
    }
}
