.c-container {
  background-color: #F1ECE7;
  padding: 50px 0 139px;
}

.p-auth {
  margin-top: 56px;
}
.p-auth_contents {
  padding: 98px 0 89px;
  width: 736px;
  background-color: #fff;
  border: 1px solid #C5B9B0;
  border-radius: 10px;
  margin: auto;
}
.p-auth_input {
  background-color: #F4F4F4;
  color: #8B7969;
  font-size: 1.4rem;
  line-height: 1.8rem;
  padding: 18px 0 18px 27px;
  margin-top: 14px;
  width: 100%;
}
.p-auth_inputBox {
  width: 445px;
  margin: auto;
}
.p-auth_inputBox:not(:first-of-type) {
  margin-top: 47px;
}
.p-auth_inputTitle {
  display: block;
  font-size: 2.5rem;
  line-height: 3.2rem;
  color: #8B7969;
}
.p-auth_btnBox {
  text-align: center;
  margin-top: 95px;
}
.p-auth_btnBox.--register {
  margin-top: 63px;
}
